* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;

}

header.container {
  width: 1600px;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: rgb(62, 61, 61);
  color: rgb(186, 179, 179);
  /* position: relative; */
}

.logo img {
  width: 150px;
  height: auto;
  /* margin-left: 10px; */
}

.menu {
  display: flex;
  gap: 2px;
  margin-right: 50px;
}

.menu a {
  text-decoration: none;
  color: rgb(186, 179, 179);
  font-size: 20px;
  padding: 10px 15px;
  transition: background-color 0.3s;
}

.menu a:hover {
  color: #f1f1f1;
  /* border-radius: 4px; */
}

.icons {
  display: flex;
  gap: 20px;
  margin-left: 130px;
}

.icons i {
  font-size: 20px;
  color: rgb(186, 179, 179);
  cursor: pointer;
}

.icons i:hover {
  color: #f1f1f1;
}

.btns {
  display: flex;
  gap: 10px;
}

.btn1 {
  padding: 10px 20px;
  font-size: 18px;
  color: rgb(186, 179, 179);
  background-color: transparent;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn1:hover {
  color: #f1f1f1;
}

.btn2 {
  padding: 10px 20px;
  font-size: 20px;
  color: rgb(87, 87, 197);
  background-color: transparent;
  border: 2px solid rgb(87, 87, 197);
  border-radius: 5px;
  cursor: pointer;
}

.btn2:hover {
  border: 2px solid #f1f1f1;
  color: #f1f1f1;
}


main.container {
  width: 1600px;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: rgb(62, 61, 61);

}


.games-container {
  display: flex;
  /* flex-wrap: wrap; */
  gap: 20px;
  justify-content: center;
  /* padding: 20px; */
  /* min-height: 100vh; */
  margin-left: -18px;
}

.game-card {
  width: 420px;
  height: 350px;
  background-color: #413e3e;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* margin-right: auto; */
}

.game-card img {
  width: 100%;
  height: 280px;
  object-fit: cover;
}

.game-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100%;
}

.game-card h3 {
  font-size: 24px;
  color: #b0a9a9;
  margin: 0;
}

.game-card button {
  background-color: #3977f4;
  color: white;
  font-size: 20px;
  padding: 6px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 20px;
  margin-top: 7px;
}